apiVersion: v1
kind: Service
metadata:
  name: voting-svc
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: voting-svc
  ports:
    - name: grpc
      port: 8080
      targetPort: 8080
    - name: prom
      port: 8801
      targetPort: 8801
